<ion-view title="About" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading11" style="color:#003865;font-weight:600;">About LCSC</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 13px;"></div>
    <div id="about-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Summary of history and why it is a very great choice to enroll into the college.</p>
    </div>
  </ion-content>
</ion-view>