<ion-view title="Calender" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="calender-heading8" style="color:#003865;font-weight:600;">Calender</h1>
    <h2 id="calender-heading9" style="color:#E10000;font-weight:400;">Spring 2018</h2>
    <ion-list id="calender-list9">
      <ion-item id="calender-list-item50">Presidents' Day (campus closed)
        <span class="item-note">Monday, Feb 19</span>
      </ion-item>
      <ion-item id="calender-list-item51">Fall and Summer class
        <br>schedule posted to WarriorWeb
        <span class="item-note">Monday, Mar 5</span>
      </ion-item>
      <ion-item id="calender-list-item52">Mid-term grades due/posted to
        <br>War
        <span class="item-note">Friday, Mar 16</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>