<ion-view title="Class Schedule" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="classSchedule-heading10" style="color:#003865;font-weight:600;">Class Schedule</h1>
    <ion-list id="classSchedule-list10">
      <ion-item class="assertive" id="classSchedule-list-item53">Web Application Dev
        <span class="item-note">SGC 124 | 10:00am - 11:30am</span>
      </ion-item>
      <ion-item class="assertive" id="classSchedule-list-item54">Image Editing/Illustration
        <span class="item-note">SGC 124 | 12:00pm - 1:30pm</span>
      </ion-item>
      <ion-item class="assertive" id="classSchedule-list-item55">Item 3</ion-item>
      <ion-item class="assertive" id="classSchedule-list-item56">Item 4</ion-item>
    </ion-list>
  </ion-content>
</ion-view>