<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="bg-img" style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="head-img">
      <img src="img/IdC9YeIZTByelse8HT0l_Flag-Rich-Blue-White.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="home-container2">
      <h1 id="home-heading1" style="color:#003865;font-weight:600;">Here's today...</h1>
      <ion-list id="home-list3">
        <ion-item class="assertive" id="home-list-item10">Web Application Dev
          <span class="item-note">SGC 124 | 10:00am - 11:30am</span>
        </ion-item>
        <ion-item class="assertive" id="home-list-item11">Image Editing/Illustration
          <span class="item-note">SGC 124 | 12:00pm - 1:30pm</span>
        </ion-item>
        <ion-item class="assertive" id="home-list-item12">Web Dev Capstone
          <span class="item-note">SGC 124 | 3:30pm - 4:30pm</span>
        </ion-item>
      </ion-list>
      <a ui-sref="menu.classSchedule()" id="home-button1" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block icon ion-android-list"> View Full Schedule</a>
      <div id="home-container3" class="news">
        <h1 id="home-heading2" style="color:#E10000;" class="news-h1">News</h1>
        <ion-list id="home-list4">
          <ion-item class="calm news-items" id="home-list-item17">Open auditions for LCSC-
            <br>produced play will be held on
            <br> Feb. 6</ion-item>
          <ion-item class="calm news-items" id="home-list-item18">Hypnotist Sailesh will perform
            <br> at LCSC on Jan. 24</ion-item>
          <ion-item class="calm news-items" id="home-list-item19">U.S. News &amp; World Report
            <br> highlights LCSC’s affordability</ion-item>
        </ion-list>
        <h1 id="home-heading3" style="color:#E10000;" class="news-h1">Events</h1>
        <ion-list id="home-list6">
          <ion-item class="calm news-items" id="home-list-item23">ASLCSC Meeting
            <span class="item-note">Tuesday, January 30, 4:30PM – 5:30PM</span>
          </ion-item>
          <ion-item class="calm news-items" id="home-list-item24">Climate Change Forum
            <span class="item-note">Tuesday, January 30, 6:00PM – 7:00PM</span>
          </ion-item>
          <ion-item class="calm news-items" id="home-list-item25">Game Night!
            <span class="item-note">Tuesday, January 30, 7:00PM – 9:00PM</span>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <h1 id="home-heading4" style="color:#003865;font-weight:600;">Rescources</h1>
    <a href-inappbrowser="https://lcsc.blackboard.com" id="home-button2" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Blackboard</a>
    <a href-inappbrowser="https://mail.google.com" id="home-button3" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">LCMail</a>
    <a href-inappbrowser="https://warriorweb.lcsc.edu" id="home-button4" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Warrior Web</a>
  </ion-content>
</ion-view>