<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-calm">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right calm" id="menu-list-item1" ui-sref="menu.home()" menu-close="">Home
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item2" ui-sref="menu.profile()" menu-close="">Profile
          <i class="icon ion-ios-person"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item3" ui-sref="menu.news()" menu-close="">News
          <i class="icon ion-ios-bell"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item57" ui-sref="menu.campusMap()" menu-close="">Campus Map
          <i class="icon ion-location"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item13" ui-sref="menu.classSchedule()" menu-close="">Class Schedule
          <i class="icon ion-android-list"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item26" ui-sref="menu.calender()" menu-close="">Calender
          <i class="icon ion-calendar"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item27" ui-sref="menu.about()" menu-close="">About
          <i class="icon ion-android-bookmark"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="menu-list-item28" ui-sref="menu.radio()" menu-close="">LCSC Radio
          <i class="icon ion-radio-waves"></i>
        </ion-item>
        <ion-item class="item-divider divider" id="menu-list-item-divider1"> Rescources</ion-item>
        <ion-item class="calm" id="menu-list-item29" href-inappbrowser="https://lcsc.blackboard.com">Blackboard</ion-item>
        <ion-item class="calm" id="menu-list-item30" href-inappbrowser="https://mail.google.com">LCMail</ion-item>
        <ion-item class="calm" id="menu-list-item31" href-inappbrowser="https://warriorweb.lcsc.edu">Warrior Web</ion-item>
        <ion-item class="calm" id="menu-list-item32" href-inappbrowser="http://lcwarriors.com/">Athletics Club</ion-item>
        <ion-item class="calm" id="menu-list-item33" href-inappbrowser="http://www.lcsc.edu/">LCSC Website</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>