<ion-view title="Radio" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="radio-heading12" style="color:#003865;font-weight:600;">KLCZ 88.9FM</h1>
    <h3 id="radio-heading13" style="color:#E10000;">Artist</h3>
    <div id="radio-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h3 id="radio-heading14" style="color:#E10000;">Song</h3>
    <div id="radio-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>